* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.message {
  color: #FF471F;
}

.container {
  width: 1200px;
  padding: 0 20px;
}

a {
  color: #FF471F;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: white;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:disabled {
  opacity: 0.5;
}

.navigation__button {
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 5px 16px;
  border: 1px white solid;
  border-radius: 50px;
  transition: all 0.2s ease-in;
}
.navigation__button:hover {
  background-color: white;
  color: black;
}

header.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  height: 80px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
header.scrolled .logo {
  filter: brightness(0);
}
header.scrolled .navigation .navbar a {
  color: black;
}
header.scrolled .navigation__button {
  border: 1px solid black;
  color: black;
}
header.scrolled .navigation__button:hover {
  background-color: black;
  color: white;
}

header {
  transition: all 0.3s ease-in-out;
  width: -webkit-fill-available;
  position: fixed;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navigation .logo {
  width: 200px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navigation .logo img {
  width: 100%;
  height: 100%;
}
header .navigation .navbar {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .navigation .navbar a {
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
header .navigation .navbar a.active {
  color: #FF471F;
}
header .navigation .navbar a:hover {
  color: #FF471F;
}

.footer {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url("/public/images/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.footer .container {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 30px;
}
.footer .footer__tabs {
  display: flex;
  gap: 30px;
}
.footer .footer__tabs a {
  color: white;
}
.footer .footer__tabs a:hover {
  color: #FF471F;
}
.footer .footer__email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer .footer__label {
  font-size: 40px;
  font-weight: 100;
  display: flex;
  align-items: center;
}
.footer .footer__label .logo {
  display: flex;
  width: 200px;
  height: 40px;
}
.footer .footer__label .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footer__rights {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  align-items: center;
  font-weight: 600;
}
.footer .footer__rights .footer__backlink {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__rights .footer__logo {
  width: 100px;
  height: 100px;
}
.footer .footer__rights .footer__logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(100);
}

.login__wrapper {
  background-image: url("/public/images/loginbg.png");
}

.registration__wrapper {
  background-image: url("/public/images/signinbg.png");
}

.newPlace__wrapper {
  background-image: url("/public/images/addnewplace.png");
}

.registration__wrapper, .login__wrapper, .newPlace__wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registration__wrapper::before, .login__wrapper::before, .newPlace__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.registration__wrapper .container, .login__wrapper .container, .newPlace__wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 30px;
  position: relative;
  z-index: 2;
}
.registration__wrapper .form__fields, .login__wrapper .form__fields, .newPlace__wrapper .form__fields {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.registration__wrapper .form__fields .navigation__button, .login__wrapper .form__fields .navigation__button, .newPlace__wrapper .form__fields .navigation__button {
  width: 300px;
}
.registration__wrapper .terms, .login__wrapper .terms, .newPlace__wrapper .terms {
  font-size: 14px;
  display: flex;
  gap: 5px;
}

.form__input {
  border: 0;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 0 20px;
  height: 50px;
  width: 300px;
  border-radius: 50px;
}
.form__input:focus {
  color: #FF471F;
  border: 1px solid #FF471F;
  outline: none;
  background-color: rgba(0, 0, 0, 0.237);
}
.form__input:focus::-moz-placeholder {
  color: white;
}
.form__input:focus::placeholder {
  color: white;
}

.profile__wrapper {
  padding: 150px 0 100px 0;
  display: flex;
  justify-content: center;
}
.profile__wrapper .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.profile__wrapper .container .profile__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.profile__wrapper .container .profile__info .profile__avatar {
  width: 200px;
  height: 200px;
}
.profile__wrapper .container .profile__info .profile__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}
.profile__wrapper .container .profile__info .profile__username {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profile__wrapper .container .profile__info .profile__username span {
  font-size: 42px;
}
.profile__wrapper .container .profile__info .profile__username .profile__badge {
  color: white;
  text-align: center;
  background-color: #FF471F;
  width: 100px;
  border-radius: 20px;
}
.profile__wrapper .container .profile__info .profile__buttons {
  display: flex;
  gap: 20px;
}
.profile__wrapper .container .profile__info .profile__buttons a {
  color: black;
}
.profile__wrapper .container .profile__info .navigation__button {
  border: 1px black solid;
  border-radius: 50px;
  transition: all 0.2s ease-in;
}
.profile__wrapper .container .profile__info .navigation__button:hover {
  background-color: black;
  color: white;
}
.profile__wrapper .container .profile__collections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile__wrapper .container .profile__collections .profile__options {
  display: flex;
  gap: 20px;
}
.profile__wrapper .container .profile__collections .profile__options button {
  display: flex;
  gap: 10px;
  align-items: center;
}
.profile__wrapper .container .profile__collections .profile__options button:hover {
  color: #FF471F;
}
.profile__wrapper .container .profile__collections .profile__options .active {
  color: #FF471F;
}
.profile__wrapper .container .profile__collections .profile__options .vertical-line {
  border-left: 1px solid black;
  height: 100%;
}

.newPlace__wrapper {
  height: -moz-fit-content;
  height: fit-content;
  padding: 150px 0 50px 0;
}
.newPlace__wrapper .form__fields {
  font-style: normal;
  align-items: center;
  display: flex;
}
.newPlace__wrapper .form__fields .form__sides {
  display: flex;
  gap: 30px;
}
.newPlace__wrapper .form__fields .form__sides .leftside__fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.newPlace__wrapper .form__fields .form__sides .rightside__fields {
  height: 500px;
}
.newPlace__wrapper .form__fields .form__sides .navigation__button {
  width: 300px;
}

textarea.form__input {
  height: 500px;
  padding: 30px;
  resize: none;
}

.grid__places {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid__places .place__card {
  aspect-ratio: 1/1;
  background-image: url("/public/images/signinbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}
.grid__places .place__card h3 {
  font-size: 18px;
  font-weight: 600;
}
.grid__places .place__card p {
  font-size: 16px;
  font-weight: 400;
}
.grid__places .place__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: 0.2s all ease-in-out;
}
.grid__places .place__card .place__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
  z-index: 2;
}
.grid__places .place__card .place__info .place__footer {
  transition: all 0.2s ease-in-out;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px 20px 0 0;
  border-top: white 1px solid;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 40%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.grid__places .place__card .place__info .place__footer .place__price, .grid__places .place__card .place__info .place__footer .place__location {
  transition: all 0.2s ease-in-out;
  display: flex;
  gap: 10px;
}
.grid__places .place__card .place__info .place__footer hr {
  transition: all 0.2s ease-in-out;
}
.grid__places .place__card:hover .place__footer {
  height: 16%;
}
.grid__places .place__card:hover hr {
  opacity: 0;
}
.grid__places .place__card:hover::before {
  background: rgba(0, 0, 0, 0);
}

.admin__buttons {
  display: flex;
  gap: 20px;
}
.admin__buttons a {
  color: black;
}
.admin__buttons .navigation__button {
  font-weight: 400;
  border: 1px black solid;
  border-radius: 50px;
  transition: all 0.2s ease-in;
}
.admin__buttons .navigation__button:hover {
  background-color: black;
  color: white;
}

.places__wrapper {
  background-color: gray;
  padding: 150px 0 100px 0;
  display: flex;
  justify-content: center;
}

.place__wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  gap: 50px;
  align-items: center;
}
.place__wrapper h1 {
  font-size: 64px;
  font-weight: 800;
}
.place__wrapper h2 {
  font-size: 48px;
  font-weight: 800;
}
.place__wrapper h3 {
  font-size: 32px;
  font-weight: 600;
}
.place__wrapper p {
  font-size: 16px;
  font-weight: 600;
}
.place__wrapper .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.place__wrapper .container .place__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.place__cover {
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-image: url("/public/images/signinbg.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.place__cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.place__cover .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 50px;
  position: relative;
  z-index: 2;
}

.place__buttons {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.place__buttons .circle__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
  color: black;
  background-color: white;
  transition: all 0.1s ease-in-out;
}
.place__buttons .circle__button:hover {
  background-color: #FF471F;
  color: white;
}
.place__buttons .active__circle__button {
  background-color: #FF471F;
  color: white;
}/*# sourceMappingURL=App.css.map */