*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
  }
$primary-orange: #FF471F;
.message{
    color: $primary-orange;
}
.container{
    width: 1200px;
    padding: 0 20px;
}
a{
    color:$primary-orange;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    
}

//Button
button {
    all: unset;
    display: inline-block; 
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:disabled{
        opacity: 0.5;
    }
}
.longbutton{
    width: 300px;
}
.navigation__button{
  
    &.reversed{
        border: 1px white solid;
        &:hover{
            background-color: white;
            color: black;
        }
    }
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 5px 16px;
    border: 1px black solid;
    border-radius: 50px;
    transition: all 0.2s ease-in;
    &:hover{
        background-color: black;
        color: white;
    }
  }

//header

header.scrolled{
    background-color: rgba(255, 255, 255, 0.9);
    height: 80px;
    backdrop-filter: blur(5px);
    .logo{
        filter: brightness(0);
    }
    .navigation .navbar a{
        color: black;
    }
    .navigation__button{
        
        border: 1px  solid black;
        color: black;
        &:hover{
            background-color: black;
            color: white;
        }
    }    
}
header{
    transition: all 0.3s ease-in-out;
    width: -webkit-fill-available;
    position: fixed;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
      .logo{
        width: 200px;
        height: 40px;
        object-fit: cover;
        img{
            width: 100%;
        height: 100%;
        }
      }  
      .navbar{
        display: flex;
        align-items: center;
        gap: 30px;
        a{
            font-size: 24px;
            font-weight: 400;
            color: white;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            &.active{
                color: $primary-orange;
            }
            &:hover{
                
                color: $primary-orange;
            }
        }
      }
      
    }
}
//footer
.footer{
    
    width: 100%;
    height: fit-content;
    background-image: url('/public/images/footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
  
   
    .container {
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 30px;
    }
    .footer__tabs{
        a{
            color: white;
            &:hover{
                color: $primary-orange;
            }
        }
        display: flex;
        gap: 30px;
    }
    .footer__email{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .footer__label{
        font-size: 40px;
        font-weight: 100;
        display: flex;
        align-items: center;
        .logo{
            display: flex;

            width: 200px;
            height: 40px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .footer__rights{
        display: flex;
        justify-content: space-between;
        width: -webkit-fill-available;
            align-items: center;
            font-weight: 600;
        .footer__backlink{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .footer__logo{
            width: 100px;
            height: 100px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                filter: brightness(100);
            }
        }
    }
   
}
//registration, login, newPlace
.login__wrapper {
    background: url('/public/images/loginbg.png') fixed;
}


.place__images img, .cover__image img {
    background-color: white;
    border-radius: 20px;
    border: 1px white solid;
    width: 250px;
}
.tagsList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   
}

.cover__image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.place__images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    
   
    .place__image{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        button{
            width: 100%;
        }
    }
}

.manageTags{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.registration__wrapper{
    background: url('/public/images/signinbg.png') fixed;
}
.newPlace__wrapper{
    background: url('/public/images/sagrada.png') fixed ;
}
.registration__wrapper, .login__wrapper,.newPlace__wrapper {
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1;
    }
  
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 30px;
      position: relative;
      z-index: 2; 
    }
    form{
        width: inherit;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
       
    }
    .terms label{
        align-items: center;
        font-size: 14px;
        display: flex;
        gap: 5px;
    }
  }
//input
.form__input{
    border: 0;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    padding: 0 20px;
    height: 50px;
    width: 300px;
    border-radius: 50px;
    &:focus{
        color: $primary-orange;
        border: 1px solid $primary-orange;
        outline: none;
        background-color: rgba(0, 0, 0, 0.237);
        &::placeholder{
            color: white;
        }
    }
  }
//profile
input{
    height: 48px;
}
.change__info{
    
    display: flex;
    flex-direction: column;
    gap: 30px;
justify-content: center;
align-items: center;
}
.subgrid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
        
}
textarea{
    resize: none;
    width: 100%;
    height: 300px;
    font-family: inherit;
    padding: 20px !important;

}
.profile__wrapper{
    padding: 150px 0 100px 0;
    display: flex;
    justify-content: center;
    .container{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .profile__info{
            display: flex;
            flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        .profile__avatar{
            width: 200px;
            height: 200px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100px;
            }
        }
        .profile__username{
            span{
                font-size: 42px;
            }
            font-size: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .profile__badge{
                color: white;
                text-align: center;
                background-color: $primary-orange;
                width: 100px;;
                border-radius: 20px;
            }
        }
        .profile__buttons{
            button{
                width: 100%;
            }
           
            gap: 20px;
            a{
                color: black;
            }
        }
        
        }
        .profile__collections{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .profile__options{
                button{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
                button:hover{
                    color: $primary-orange;
                }
                .active{
                    color: $primary-orange;
                }
                display: flex;
                gap:20px;
                .vertical-line {
                    border-left: 1px solid black;
                    height: 100%;
                  }

            }

        }
    }
}
//newPlace 
.newPlace__wrapper{
   height: fit-content;
   padding: 150px 0 50px 0;
    form{
        font-style: normal;
        align-items: center;
        display: flex;
        
        .form__sides{
            width: inherit;
            display: flex;
            gap: 30px;
            .leftside__fields{
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: space-between;
            }
            .rightside__fields{
                width: 100%;
                height: 100%;
                
            }
        .navigation__button{
            width: 300px;
        }
        }
        
    }
}
textarea.form__input{
    width: inherit;
    height: inherit;
    padding: 30px;
    resize: none;
}

//AdminPanel //Places //placeCard
    .grid__places{
        display: grid;
        gap: 2em;
        grid-template-columns: 1fr 1fr 1fr;
        .place__card {
            img{
                user-select: none;
                -webkit-user-drag: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover; 
                
            }
            h3{
            font-size: 18px;
            font-weight: 600;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                }
            aspect-ratio: 1 / 1;
            
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            overflow: hidden;
   
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.0);
      z-index: 1;
      transition: 0.2s all ease-in-out;
    }
  
    .place__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        color: white;
        position: relative;
        z-index: 2; 
        
        .place__footer{
            transition: all 0.2s ease-in-out;
            backdrop-filter: blur(5px);
            border-radius: 20px 20px 0 0;
            border-top: white 1px solid;
            padding: 16px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        height: fit-content ;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.5);
            .place__price, .place__location{
                transition: all 0.2s ease-in-out;
                 display: none;
                 gap: 10px;
                
            }
            hr{transition: all 0.2s ease-in-out;
                scale: 0;
            }
        }
    }
    &:hover {
        .place__footer   {
            
        .place__price, .place__location{
            display: flex;
        }
        hr{
            scale: 1;
        }
        }
       
        &::before {
            background: rgba(0, 0, 0, 0.3);
        }
      }   


          }
    }
    .admin__buttons{
        display: flex;
        gap: 20px;
        a{
            color: black;
        } 
       
    }
//Places
.places__wrapper{
    
    padding: 100px 0 100px 0;
    display: flex;
    justify-content: center;
    .container{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    .places__filtering{
      display: flex;
      flex-direction: column;
      gap: 20px;
        .search__form{
            display: flex;
            gap: 10px;
        }
      
        input{
            &:focus{
                border: 1px solid black;
                outline: none;
                &::placeholder{
                    color: white;
                }
            }
        }
    }
}
.filter__header{
  .dropdown{
    position: relative;
    
  }
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .dropdown__options{
        overflow: hidden;
        margin: 5px 0;
        z-index: 4;
        position: absolute;
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        border: 1px black solid;
        .dropdown__option{
            
          
            label{
                padding: 15px;
                display: flex;
                gap: 5px;
                input{
                    display: none;
                }
               width: 100%;
                &.active{
                background-color: rgb(241, 241, 241);
                }
                &:hover{
                    background-color: rgb(241, 241, 241);
                    }
                
            
            }
           
        }
        &.hide{
            display: none;
        }
    }
    
 .navigation__button{
    width: auto;
    height: fit-content;

    input{
        all: unset;
        &:focus{
        border: 0;
        }
    }
 }       }

 .filter__tags{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
 }
//Place Page
.place__main__info{
    display: flex;
    flex-direction: column;
    gap: 50px;

}


.place__tags{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.place__time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .time__day{
        text-align: center;
    }
}
.place__secondary-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    justify-content: space-between;
    align-items: center;
    .place__price,.place__location,.place__website{
        display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    }
}
.place__wrapper{
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    gap: 50px;
    align-items: center;
   
    h2{font-size: 48px;
        font-weight: 800; }
    h3{font-size: 32px;
        font-weight: 600; }
     p{font-size: 16px;
        font-weight: 600;
     }
        .container{
            display: flex;
            flex-direction: column;
            gap: 50px;

            .place__subtitle{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
}
.place__cover{
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    h1{font-size: 64px;
        font-weight: 800; }
position: relative;
width: 100%;
height: 50vh;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 50px;
&::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      gap: 50px;
    position: relative;
    z-index: 2; 
  }
  }



  //ManageButtons
  .place__buttons{
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    .circle__button{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        filter: drop-shadow(0 0 10px rgba(0,0,0,0.25));
        color: black;
        background-color: white;
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: $primary-orange;
            opacity: 0.9;
            color: white
        }
        &:active{
            background-color: rgba(152, 1, 1, 0.237);
            color: white
        }
    }
    .active__circle__button{
        background-color: $primary-orange;
        color: white;
       
        .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1
        }

    }
}

//swiper
.swiper {
    width: 100%;
    height: 75vh;
  }
  
  .swiper-slide {

    text-align: center;
    font-size: 18px;

  
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:  $primary-orange;
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke:  $primary-orange;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

.firstslide{
    color: white;
    background-image:  url('/public/images/firstslide.png'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    img{
        width: 250px;
        height: auto;
    }
    h4{
        font-size: 64px;
        font-weight: 800;
        color: white;
    }
    .orange{
        color: $primary-orange;
    }
    a{
        color: white;
    }
}


//Users page

.users__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    min-height: 100vh;
}
.user__list{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
///components user__card
.user__card{
    background-color: white;
    padding: 30px;
    border: 1px black solid;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: flex-start;
    transition: all 0.1s ease-in;
    &:hover{
        background-color: rgb(237, 237, 237);
        
    }
    .user__image{
        width: 40px;
        height: 40px;
        img{
            border: 1px black solid;
            border-radius: 50px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .user__field{
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
