*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
  }
$primary-orange: #FF471F;
.message{
    color: $primary-orange;
}
.container{
    width: 1200px;
    padding: 0 20px;
}
a{
    color:$primary-orange;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    &:hover{
        color: white;
    }
}

//Button
button {
    all: unset;
    display: inline-block; 
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:disabled{
        opacity: 0.5;
    }
}

.navigation__button{
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 5px 16px;
    border: 1px white solid;
    border-radius: 50px;
    transition: all 0.2s ease-in;
    &:hover{
        background-color: white;
        color: black;
    }
   
  }
//header

header.scrolled{
    background-color: rgba(255, 255, 255, 0.9);
    height: 80px;
    backdrop-filter: blur(5px);
    .logo{
        filter: brightness(0);
    }
    .navigation .navbar a{
        color: black;
    }
    .navigation__button{
        
        border: 1px  solid black;
        color: black;
        &:hover{
            background-color: black;
            color: white;
        }
    }    
}
header{
    transition: all 0.3s ease-in-out;
    width: -webkit-fill-available;
    position: fixed;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
      .logo{
        width: 200px;
        height: 40px;
        object-fit: cover;
        img{
            width: 100%;
        height: 100%;
        }
      }  
      .navbar{
        display: flex;
        align-items: center;
        gap: 30px;
        a{
            font-size: 24px;
            font-weight: 400;
            color: white;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            &.active{
                color: $primary-orange;
            }
            &:hover{
                color: $primary-orange;
            }
        }
      }
      
    }
}
//footer
.footer{
    
    width: 100%;
    height: fit-content;
    background-image: url('/public/images/footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
  
   
    .container {
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 30px;
    }
    .footer__tabs{
        a{
            color: white;
            &:hover{
                color: $primary-orange;
            }
        }
        display: flex;
        gap: 30px;
    }
    .footer__email{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .footer__label{
        font-size: 40px;
        font-weight: 100;
        display: flex;
        align-items: center;
        .logo{
            display: flex;

            width: 200px;
            height: 40px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .footer__rights{
        display: flex;
        justify-content: space-between;
        width: -webkit-fill-available;
            align-items: center;
            font-weight: 600;
        .footer__backlink{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .footer__logo{
            width: 100px;
            height: 100px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                filter: brightness(100);
            }
        }
    }
   
}
//registration, login, newPlace
.login__wrapper {
    background-image: url('/public/images/loginbg.png');
}

.registration__wrapper{
    background-image: url('/public/images/signinbg.png');
}
.newPlace__wrapper{
    background-image: url('/public/images/addnewplace.png');
}
.registration__wrapper, .login__wrapper,.newPlace__wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1;
    }
  
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 30px;
      position: relative;
      z-index: 2; 
    }
    .form__fields{
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .navigation__button{
            width: 300px;
        }
    }
    .terms{
        font-size: 14px;
        display: flex;
        gap: 5px;
    }
  }
//input
.form__input{
    border: 0;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    padding: 0 20px;
    height: 50px;
    width: 300px;
    border-radius: 50px;
    &:focus{
        color: $primary-orange;
        border: 1px solid $primary-orange;
        outline: none;
        background-color: rgba(0, 0, 0, 0.237);
        &::placeholder{
            color: white;
        }
    }
  }
//profile
.profile__wrapper{
    padding: 150px 0 100px 0;
    display: flex;
    justify-content: center;
    .container{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .profile__info{
            display: flex;
            flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        .profile__avatar{
            width: 200px;
            height: 200px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100px;
            }
        }
        .profile__username{
            span{
                font-size: 42px;
            }
            font-size: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .profile__badge{
                color: white;
                text-align: center;
                background-color: $primary-orange;
                width: 100px;;
                border-radius: 20px;
            }
        }
        .profile__buttons{
            display: flex;
            gap: 20px;
            a{
                color: black;
            }
        }
        .navigation__button{
            border: 1px black solid;
            border-radius: 50px;
            transition: all 0.2s ease-in;
            &:hover{
                background-color: black;
                color: white;
            }
           
          }
        }
        .profile__collections{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .profile__options{
                button{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
                button:hover{
                    color: $primary-orange;
                }
                .active{
                    color: $primary-orange;
                }
                display: flex;
                gap:20px;
                .vertical-line {
                    border-left: 1px solid black;
                    height: 100%;
                  }

            }

        }
    }
}
//newPlace
.newPlace__wrapper{
   height: fit-content;
   padding: 150px 0 50px 0;
    .form__fields{
        font-style: normal;
        align-items: center;
        display: flex;
        
        .form__sides{
            display: flex;
            gap: 30px;
            .leftside__fields{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            }
            .rightside__fields{
                height: 500px;
                
            }
        .navigation__button{
            width: 300px;
        }
        }
        
    }
}
textarea.form__input{
    height: 500px;
    padding: 30px;
    resize: none;
}
