* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ::-moz-selection {
  background: #FF471F;
  color: #000000;
}
* ::selection {
  background: #FF471F;
  color: #000000;
}
* ::-webkit-selection {
  background: #FF471F;
  color: #000000;
}
* ::-moz-selection {
  background: #FF471F;
  color: #000000;
}

body {
  font-family: "Poppins", sans-serif;
}

.message {
  color: #FF471F;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

a {
  color: #FF471F;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:disabled {
  opacity: 0.5;
}

.longbutton {
  width: 300px;
}

.navigation__button {
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 5px 16px;
  border: 1px black solid;
  border-radius: 50px;
  transition: all 0.2s ease-in;
}
.navigation__button.reversed {
  border: 1px white solid;
}

header.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  height: 80px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
header.scrolled .logo {
  filter: brightness(0);
}
header.scrolled .navigation .navbar a {
  color: black;
}
header.scrolled .navigation__button {
  border: 1px solid black;
  color: black;
}
header.scrolled .burger {
  color: black;
}

.burger {
  cursor: pointer;
  color: white;
  display: none;
}
.burger span {
  font-size: 2em;
}

header {
  transition: all 0.3s ease-in-out;
  width: -webkit-fill-available;
  position: fixed;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navigation .logo {
  width: 200px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navigation .logo img {
  width: 100%;
  height: 100%;
}
header .navigation .navbar {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .navigation .navbar a {
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
header .navigation .navbar a.active {
  color: #FF471F;
}

.footer {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url("/public/images/footer.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.footer .container {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 30px;
}
.footer .footer__tabs {
  display: flex;
  gap: 30px;
}
.footer .footer__tabs a {
  color: white;
}
.footer .footer__email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer .footer__label {
  font-size: 40px;
  font-weight: 100;
  display: flex;
  align-items: center;
}
.footer .footer__label .logo {
  display: flex;
  width: 200px;
  height: 40px;
}
.footer .footer__label .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footer__rights {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  align-items: center;
  font-weight: 600;
}
.footer .footer__rights .footer__backlink {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__rights .footer__logo {
  width: 100px;
  height: 100px;
}
.footer .footer__rights .footer__logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(100);
}

.login__wrapper {
  background: url("/public/images/loginbg.webp") fixed;
}

.place__images img, .cover__image img {
  background-color: white;
  border-radius: 20px;
  border: 1px white solid;
  width: 250px;
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cover__image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.place__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}
.place__images .place__image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.place__images .place__image button {
  width: 100%;
}

.manageTags {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.registration__wrapper {
  background: url("/public/images/signinbg.webp") fixed;
}

.newPlace__wrapper {
  background: url("/public/images/sagrada.webp") fixed;
}

.registration__wrapper, .login__wrapper, .newPlace__wrapper {
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registration__wrapper::before, .login__wrapper::before, .newPlace__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.registration__wrapper .container, .login__wrapper .container, .newPlace__wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 30px;
  position: relative;
  z-index: 2;
}
.registration__wrapper form, .login__wrapper form, .newPlace__wrapper form {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.registration__wrapper .terms label, .login__wrapper .terms label, .newPlace__wrapper .terms label {
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  display: flex;
  gap: 5px;
  justify-content: center;
}
.registration__wrapper h1, .login__wrapper h1, .newPlace__wrapper h1 {
  font-size: 25px;
}

.form__input {
  border: 0;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 0 20px;
  height: 50px;
  width: 300px;
  border-radius: 50px;
}
.form__input:focus {
  color: #FF471F;
  border: 1px solid #FF471F;
  outline: none;
  background-color: rgba(0, 0, 0, 0.237);
}
.form__input:focus::-moz-placeholder {
  color: white;
}
.form__input:focus::placeholder {
  color: white;
}

input {
  height: 48px;
}

.change__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.subgrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

textarea {
  resize: none;
  width: 100%;
  height: 200px;
  font-family: inherit;
  padding: 20px !important;
}

.profile__wrapper {
  padding: 150px 0 100px 0;
  display: flex;
  justify-content: center;
}
.profile__wrapper .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.profile__wrapper .container .profile__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.profile__wrapper .container .profile__info .profile__avatar {
  width: 200px;
  height: 200px;
}
.profile__wrapper .container .profile__info .profile__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}
.profile__wrapper .container .profile__info .profile__username {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profile__wrapper .container .profile__info .profile__username span {
  font-size: 42px;
}
.profile__wrapper .container .profile__info .profile__username .profile__badge {
  color: white;
  text-align: center;
  background-color: #FF471F;
  width: 100px;
  border-radius: 20px;
}
.profile__wrapper .container .profile__info .profile__buttons {
  gap: 20px;
}
.profile__wrapper .container .profile__info .profile__buttons button {
  width: 100%;
}
.profile__wrapper .container .profile__info .profile__buttons a {
  color: black;
}
.profile__wrapper .container .profile__collections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile__wrapper .container .profile__collections .profile__options {
  display: flex;
  gap: 20px;
}
.profile__wrapper .container .profile__collections .profile__options button {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.profile__wrapper .container .profile__collections .profile__options .active {
  color: #FF471F;
}
.profile__wrapper .container .profile__collections .profile__options .vertical-line {
  border-left: 1px solid black;
  height: 100%;
}

.newPlace__wrapper {
  height: -moz-fit-content;
  height: fit-content;
  padding: 150px 0 50px 0;
}
.newPlace__wrapper form {
  font-style: normal;
  align-items: center;
  display: flex;
}
.newPlace__wrapper form .form__sides {
  width: 100%;
  display: flex;
  gap: 30px;
}
.newPlace__wrapper form .form__sides .leftside__fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.newPlace__wrapper form .form__sides .rightside__fields {
  width: 100%;
  height: 100%;
}
.newPlace__wrapper form .form__sides .navigation__button {
  width: 300px;
}

textarea.form__input {
  width: 100%;
  height: inherit;
  padding: 30px;
  resize: none;
}

.grid__places {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid__places .place__card {
  cursor: pointer;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.grid__places .place__card img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.grid__places .place__card h3 {
  font-size: 18px;
  font-weight: 600;
}
.grid__places .place__card p {
  font-size: 16px;
  font-weight: 400;
}
.grid__places .place__card .place__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
  z-index: 2;
}
.grid__places .place__card .place__info .place__footer {
  transition: all 0.2s ease-in-out;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  border-top: white 1px solid;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.grid__places .place__card .place__info .place__footer .place__price, .grid__places .place__card .place__info .place__footer .place__location {
  transition: all 0.2s ease-in-out;
  display: none;
  gap: 10px;
}
.grid__places .place__card .place__info .place__footer hr {
  transition: all 0.2s ease-in-out;
  scale: 0;
}

.admin__buttons {
  display: flex;
  gap: 20px;
}
.admin__buttons a {
  color: black;
}

.pagination {
  display: flex;
  justify-content: center;
}

.places__wrapper {
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center;
}
.places__wrapper .container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.places__wrapper .places__filtering {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.places__wrapper .places__filtering .search__form {
  display: flex;
  gap: 10px;
}
.places__wrapper .places__filtering input:focus {
  border: 1px solid black;
  outline: none;
}
.places__wrapper .places__filtering input:focus::-moz-placeholder {
  color: white;
}
.places__wrapper .places__filtering input:focus::placeholder {
  color: white;
}

.filter__header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.filter__header .dropdown {
  position: relative;
}
.filter__header .dropdown__options {
  overflow: hidden;
  margin: 5px 0;
  z-index: 4;
  position: absolute;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px black solid;
}
.filter__header .dropdown__options .dropdown__option label {
  padding: 15px;
  display: flex;
  gap: 5px;
  width: 100%;
}
.filter__header .dropdown__options .dropdown__option label input {
  display: none;
}
.filter__header .dropdown__options .dropdown__option label.active {
  background-color: rgb(241, 241, 241);
}
.filter__header .dropdown__options.hide {
  display: none;
}
.filter__header .navigation__button {
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
}
.filter__header .navigation__button input {
  overflow: auto;
  width: -moz-fit-content;
  width: fit-content;
  all: unset;
}
.filter__header .navigation__button input:focus {
  border: 0;
}

.filter__tags {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}

.place__main__info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.place__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.place__time {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  gap: 20px;
}
.place__time .time__day {
  text-align: center;
}
.place__time .time__day_24 {
  text-wrap: nowrap;
}

.place__secondary-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  justify-content: space-between;
  align-items: center;
}
.place__secondary-info .place__price, .place__secondary-info .place__location, .place__secondary-info .place__website {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.place__wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  gap: 50px;
  align-items: center;
}
.place__wrapper h2 {
  font-size: 48px;
  font-weight: 800;
}
.place__wrapper h3 {
  font-size: 32px;
  font-weight: 600;
}
.place__wrapper h4 {
  font-size: 22px;
  font-weight: 600;
}
.place__wrapper p {
  font-size: 16px;
  font-weight: 600;
}
.place__wrapper .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.place__wrapper .container .place__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.place__wrapper .navigation__button {
  width: -moz-fit-content;
  width: fit-content;
}
.place__wrapper textarea.navigation__button {
  width: 100%;
}

.place__cover {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.place__cover img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.place__cover h1 {
  font-size: 64px;
  font-weight: 800;
}
.place__cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.place__cover .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 50px;
  position: relative;
  z-index: 2;
}

.place__buttons {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.place__buttons .circle__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
  color: black;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.place__buttons .circle__button:active {
  background-color: rgba(152, 1, 1, 0.237);
  color: white;
}
.place__buttons .active__circle__button {
  background-color: #FF471F;
  color: white;
}
.place__buttons .active__circle__button .material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}

.swiper {
  width: 100%;
  height: 75vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #FF471F;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #FF471F;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.slide {
  position: relative;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  z-index: 2;
}
.slide .background {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.2);
  z-index: -1;
}
.slide img {
  width: 250px;
  height: auto;
}
.slide h4 {
  font-size: 64px;
  font-weight: 800;
  color: white;
}
.slide .orange {
  color: #FF471F;
}
.slide a {
  color: white;
}

.orange {
  color: #FF471F;
}

.users__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  min-height: 100vh;
}

.user__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user__card {
  background-color: white;
  padding: 30px;
  border: 1px black solid;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-content: flex-start;
  transition: all 0.1s ease-in;
}
.user__card .user__image {
  width: 40px;
  min-width: 40px;
  height: 40px;
}
.user__card .user__image img {
  border: 1px black solid;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user__card .user__field {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
}

.blank__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blank__wrapper .container {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.blank__wrapper .container .navigation__button {
  width: -webkit-fill-available;
  font-size: 24px;
}
.blank__wrapper .container .navigation__button textarea {
  width: 100%;
  height: 200px;
  font-family: inherit;
  resize: none;
}
.blank__wrapper input, .blank__wrapper textarea {
  all: unset;
}

.about__cover {
  background: url("/public/images/about.webp") fixed;
}

.contacts__cover {
  background: url("/public/images/contacts.webp") fixed;
}

.terms__cover {
  background: url("/public/images/terms.webp") fixed;
}

.about__cover, .contacts__cover, .terms__cover {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.about__cover h1, .contacts__cover h1, .terms__cover h1 {
  font-size: 64px;
  font-weight: 800;
}
.about__cover::before, .contacts__cover::before, .terms__cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.about__cover .container, .contacts__cover .container, .terms__cover .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 50px;
  position: relative;
  z-index: 2;
}

.mailform {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.mailform .mailform__inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment__card {
  border-radius: 20px;
  border: 1px black solid;
  padding: 30px;
  display: flex;
  grid-template-columns: 1fr 4fr;
  flex-direction: column;
  gap: 30px;
}
.comment__card .comment__user {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  justify-content: left;
  align-items: center;
}
.comment__card .comment__info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.comment__card .comment__photo {
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.comment__card .comment__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.notFound {
  height: 70vh;
  background-color: #020101;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.notFound h1 {
  font-size: 9em;
}
.notFound a {
  color: white;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  padding: 7px;
  /* Position the tooltip */
  position: absolute;
  z-index: 5;
  top: 120%;
  left: 50%;
  margin-left: -60px;
}

@media (max-width: 1200px) {
  .grid__places .place__card h3 {
    font-size: 14px;
  }
  .grid__places .place__card p {
    font-size: 12px;
  }
  .material-symbols-outlined {
    font-size: 18px;
  }
  .grid__places .place__card .place__info .place__footer {
    gap: 5px;
  }
}
@media (max-width: 992px) {
  .terms__cover, .contacts__cover, .about__cover, .login__wrapper, .registration__wrapper, .newPlace__wrapper {
    background-attachment: scroll;
  }
  .slide img {
    width: 100px;
  }
  .slide h4 {
    font-size: 32px;
  }
  header .navigation .logo {
    width: 150px;
    height: auto;
  }
  .burger {
    display: flex;
  }
  .navigation.active .logo {
    filter: brightness(100);
  }
  .navigation.active .navigation__button {
    border: 1px solid white;
    color: white;
  }
  .navigation.active .navbar {
    position: absolute;
    padding: 100px 0;
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    display: flex !important;
    flex-direction: column !important;
  }
  .navigation.active .navbar a {
    color: white !important;
  }
  .navigation.active .burger span {
    color: white !important;
  }
  header .navigation .navbar {
    display: none;
  }
  .grid__places {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }
  .footer .footer__rights {
    font-weight: 400;
    font-size: 10px;
  }
  .footer .footer__rights .footer__logo {
    width: 50px;
    height: 50px;
  }
  .footer .footer__label .logo {
    width: 100px;
    height: 20px;
  }
  .footer .footer__label {
    font-size: 20px;
  }
  .place__time {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
  .place__secondary-info {
    display: grid;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .places__wrapper .container {
    gap: 50px;
  }
  .places__wrapper, .place__wrapper {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .profile__wrapper .container .profile__collections .profile__options h2 {
    font-size: 1.2em;
  }
  .footer .footer__rights {
    flex-direction: column;
  }
  .footer .footer__tabs {
    flex-direction: column;
    align-items: center;
  }
  .filter__header {
    flex-direction: column;
    align-items: center;
  }
  .filter__header .navigation__button {
    width: 310px;
  }
  .firstslide h4 {
    font-size: 40px;
  }
  .firstslide img {
    width: 150px;
  }
  .place__buttons .circle__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  .place__buttons .circle__button .material-symbols-outlined {
    font-size: 15px;
  }
  .grid__places .place__card h3 {
    font-size: 12px;
  }
  .grid__places .place__card .place__info .place__footer .place__price, .grid__places .place__card .place__info .place__footer .place__location {
    display: none;
  }
  .grid__places .place__card .place__info .place__footer hr {
    display: none;
  }
  .grid__places {
    gap: 1em;
  }
  .navigation__button {
    font-size: 16px;
  }
  .about__cover h1, .contacts__cover h1, .terms__cover h1, .place__cover h1 {
    font-size: 40px;
    text-align: center;
  }
  .place__wrapper h2 {
    font-size: 28px;
  }
  .mailform {
    flex-direction: column;
  }
  .place__time {
    grid-template-columns: repeat(2, 1fr);
  }
  .registration__wrapper {
    height: auto;
  }
  .registration__wrapper .container {
    padding: 100px 20px;
  }
  .about__cover, .contacts__cover, .terms__cover, .place__cover {
    height: 40vh;
  }
  .place__wrapper .container .place__subtitle {
    flex-direction: column;
    align-items: flex-start;
  }
  .blank__wrapper .container {
    padding: 50px 20px;
  }
  .admin__buttons {
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
  }
  .user__card {
    grid-template-columns: 1fr;
  }
  .change__info, .profile__wrapper .container .profile__info {
    width: -webkit-fill-available;
  }
  .subgrid {
    grid-template-columns: 1fr;
  }
  .profile__wrapper .container {
    align-items: center;
  }
  .profile__wrapper .container .profile__collections .profile__options, .newPlace__wrapper form .form__sides {
    flex-direction: column;
  }
  .cover__image {
    flex-direction: column-reverse;
  }
  .manageTags {
    flex-direction: column;
  }
  .newPlace__wrapper form .form__sides .leftside__fields {
    align-items: center;
  }
}
@media (hover: hover) {
  header.scrolled .navigation__button:hover {
    background-color: black;
    color: white;
  }
  .user__card:hover {
    background-color: rgb(237, 237, 237);
  }
  .circle__button:hover {
    background-color: #FF471F;
    opacity: 0.9;
    color: white;
  }
  .circle__button:hover .tooltiptext {
    visibility: visible !important;
  }
  .dropdown__option label:hover {
    background-color: rgb(241, 241, 241);
  }
  .navigation__button.reversed:hover {
    background-color: white;
    color: black;
  }
  .navigation__button:hover {
    background-color: black;
    color: white;
  }
  .place__card:hover .place__footer .place__price,
  .place__card:hover .place__footer .place__location {
    display: flex !important;
  }
  .place__card:hover .place__footer hr {
    scale: 1 !important;
  }
  .place__card:hover img {
    filter: brightness(0.8);
  }
  .navbar a:hover, .footer__tabs a:hover, .profile__collections .profile__options button:hover {
    color: #FF471F !important;
  }
}/*# sourceMappingURL=App.css.map */